/*-- scss:defaults --*/

// Import Work Sans from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800;900&display=swap');

// Font hierarchy and weights
$font-family-sans: 'Work Sans', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 800;
$font-weight-heavy: 900;

// Colors
$body-color: #4D4D4F;
$primary: #03617A;
$secondary: #E0A624;
$link-color: #19405B;
$code-bg: #B9E1DA;
$code-color: #4D4D4F;

/*-- scss:rules --*/

.reveal {
  font-family: $font-family-sans;
  text-align: left;

  h1 {
    font-weight: $font-weight-heavy;
    color: $primary;
  }

  h2 {
    font-weight: $font-weight-bold;
    color: $secondary;
  }

  h3, h4, h5, h6 {
    font-weight: $font-weight-normal;
    color: #C6D667;
  }

  p, li {
    font-size: 0.9em;
    color: $body-color;
  }

  a {
    color: $link-color;
  }

  code {
    background-color: $code-bg;
    color: $code-color;
  }

  blockquote {
    border-left: 5px solid #694C5F;
    color: $link-color;
    padding-left: 1em;
  }

.title-slide {
  text-align: left;

  h1, h2, h3, p {
    text-align: left !important;
  }

  .subtitle, .quarto-title-author-name, .quarto-title-affiliation, .date {
    text-align: left !important;
  }
}

.slide-logo {
  height: 50px !important;
  width: 200px !important;
  max-width: unset !important;
  max-height: unset !important
}

}
